#
# /etc/fstab for read-only Raspbian
# (Provided by Ax_Raspbpliance)
#


# fs_spec    fs_file      fs_vfstype  fs_mntops                  fs_freq fs_passno


# System:
proc            /proc       proc      defaults                         0 0
{{dev_boot}}    /boot       vfat      defaults,noatime,ro              0 2
{{dev_root}}    /           ext4      defaults,noatime,ro              0 1

# Ramify /var:
tmpfs        /var/lock      tmpfs     defaults,noatime,nosuid,nodev,size=1M
tmpfs        /var/run       tmpfs     defaults,noatime,nosuid,nodev,size=1M
tmpfs        /var/log       tmpfs     defaults,noatime,nosuid,nodev,size=16M
tmpfs        /var/lib/dhcp  tmpfs     defaults,noatime,nosuid,nodev,size=64k

# Temp:
tmpfs        /tmp           tmpfs     defaults,noatime,nosuid,nodev,size=64M
/tmp         /var/tmp       none      defaults,noatime,nosuid,nodev,size=64M

# Temp home:
tmpfs        /thome         tmpfs     defaults,noatime,nosuid,nodev,size=64M

